{% extends 'base.html.twig' %}
{% block title %}Hevy Metal | {{ parent() }}{% endblock %}

{% block body %}
<h1>{{ title }}</h1>

{# TODO: add an image of record #}

<div>
    Our scweet track list: TODO
    <ul>
        {% for index, track in tracks %}
            <li>
               {{ index }} {{ track.song }} - {{ track.artist|upper }}
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
